@model AvenueClothing.Feature.Catalog.Module.ViewModels.VariantPickerRenderingViewModel
@{
    Layout = null;
}

@foreach (var variant in Model.Variants)
{
    <div>variant.DisplayName</div>
    <select class="js-variant-picker" data-variant-name="@variant.Name" data-product-sku="@Model.ProductSku" data-variant-exists-url="@Model.VariantExistsUrl">
        <option value="">-- Please Select --</option>
        @foreach (var variantItem in variant.VaraintItems)
        {
            <option value="@variantItem.Name">@variantItem.DisplayName</option>
        }
    </select>
}
