@model AvenueClothing.Project.Transaction.ViewModels.AddToBasketButtonRenderingViewModel
@{
    Layout = null;
    var disableButton = Model.IsProductFamily ? "disabled" : "";
}

<button @disableButton class="js-add-to-basket-button btn btn-success" data-confirmation-message-id="@Model.ConfirmationMessageClientId" data-product-sku="@Model.ProductSku" data-is-product-family="@Model.IsProductFamily" data-product-variant-sku="" data-product-quantity="1" data-add-to-basket-url="@Model.AddToBasketUrl">Add To Basket</button>

<div id="@Model.ConfirmationMessageClientId" style="display: none" class="js-add-to-basket-button-confirmation-message alert alert-success" role="alert" data-confirmation-message-timeout-in-millisecs="@Model.ConfirmationMessageTimeoutInMillisecs">
    Thanks, this item has been added to your cart. <a href="@Model.BasketUrl">Click here to view your cart.</a>
</div>