@inherits System.Web.Mvc.WebViewPage
@using Sitecore.Mvc;

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Css/uCommerce.demostore.css" rel="stylesheet" />
	@if (!Sitecore.Context.PageMode.IsExperienceEditor)
	{
		@Html.Sitecore().Placeholder("head")
	}
	<title></title>
</head>
<body class="header-static @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
	<div id="main-container">
		<header>

			@Html.Sitecore().Placeholder("header")

		</header>
		<section>
			<div class="container">
				<div class="col-sm-3 col-md-3">
					@Html.Sitecore().Placeholder("sidebar")

				</div>
				<div class="col-sm-9 col-md-9">
					@Html.Sitecore().Placeholder("main")
				</div>

			</div>
		</section>
		<footer>
			@Html.Sitecore().Placeholder("footer")
		</footer>
	</div>
	<script src="~/Scripts/jquery-3.0.0.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/uCommerce.facets.js"></script>
    <script src="~/Scripts/js-add-to-basket-button.js"></script>
    <script src="~/Scripts/js-mini-basket.js"></script>
    <script>
        $(document).ready(function() {
        	AddToBasketButton.init($(document));
	        MiniBasket.init($(document));
        });
    </script>
</body>
</html>
