@model AvenueClothing.Feature.Transaction.Module.ViewModels.AddToBasketIndexViewModel

@{
    Layout = null;
}

<button disabled="disabled" class="js-add-to-basket-button" data-confirmation-message-id="@Model.ConfirmationMessageClientId" data-product-sku="@Model.ProductSku" data-product-is-variant="@Model.ProductIsVariant" data-product-variant-sku="" data-product-quantity="0" data-add-to-basket-url="@Model.AddToBasketUrl">Add To Basket</button>

<div id="@Model.ConfirmationMessageClientId" class="js-add-to-basket-button-confirmation-message alert alert-success hidden-xl-down" role="alert" data-confirmation-message-timeout-in-millisecs="@Model.ConfirmationMessageTimeoutInMillisecs">
    Thanks, this item has been added to your cart. <a href="@Model.BasketUrl">Click here to view your cart.</a>
</div>