@model AvenueClothing.Project.Catalog.ViewModels.ProductPriceRenderingViewModel
@{
    Layout = null;
}

<aside class="js-price-calculation" data-price-calculation-url="@Model.CalculatePriceUrl" data-variant-price-calculation-url="@Model.CalculateVariantPriceUrl" data-product-sku="@Model.Sku" data-product-id="@Model.ProductId" data-category-guid="@Model.CategoryGuid" data-catalog-guid="@Model.CatalogGuid" itemprop="offers" itemscope itemtype="http://schema.org/Offer" data>
	<p class="item-price @Model.ProductId" itemprop="price"></p>
	<p class="item-tax">
		<small class="tax">Inc. </small>
	</p>
</aside>