@inherits System.Web.Mvc.WebViewPage
@using System.Web.Optimization
@using Sitecore.Mvc;

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
	@if (!Sitecore.Context.PageMode.IsExperienceEditor)
	{
		@Html.Sitecore().Placeholder("head")
	}
	<title></title>
</head>
<body class="header-static @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
<div id="main-container">
    <header>

        @Html.Sitecore().Placeholder("header")

    </header>
    <section>
        <div class="container">
            <div class="col-sm-3 col-md-3">
                @Html.Sitecore().Placeholder("sidebar")

            </div>
            <div class="col-sm-9 col-md-9">

                @Html.Sitecore().Placeholder("breadcrumb")

                @Html.Sitecore().Placeholder("main")
            </div>

        </div>
    </section>
    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
</div>
    @Scripts.Render("~/bundles/require")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @if (!HttpContext.Current.IsDebuggingEnabled)
    {
        <script>
            requirejs.config({
                bundles: {
                    @*'@Scripts.Url("~/bundles/jquery").ToString()': [
                        'jquery'
                    ],*@
                    @*'@Scripts.Url("~/bundles/bootstrap").ToString()': [
                        'bootstrap'
                    ]*@
                }
            });
        </script>
    }
    
    @Scripts.Render("~/bundles/js-components")

<script>
        $(document).ready(function () {
            AddToBasketButton.init($(document), $("*"));
            VariantPicker.init($(document), $("*"));
            QuantityPicker.init($(document), $("*"));
            MiniBasket.init($(document), $("*"));
            ShippingPicker.init($(document), $("*"));
            PriceCalculation.init($(document), $("*"));
            PaymentPicker.init($(document), $("*"));
            Addresses.init($(document), $("*"));
            Voucher.init($(document), $("*"));

            ShippingPicker.initCompleted($(document), $("*"));
            PaymentPicker.initCompleted($(document), $("*"));
        });
    </script>
</body>

</html>
