@using System.Web.Mvc
@using System.Web.Mvc.Html
@model AvenueClothing.Project.Transaction.ViewModels.PurchaseOrderViewModel

@if (Model.OrderLines.Count == 0)
{
    <div class="alert alert-info">
        <p>Your cart is empty. Please <a href="/">return to our store and add some items</a>.</p>
    </div>
}
else
{
    //using(Html.BeginForm("UpdateBasket", "Basket", FormMethod.Post))
    //{
        <table class="table table-striped" id="cart">
            <thead>
                <tr>
                    <th class="span7">Description</th>
                    <th class="span1 money">Price</th>
                    <th class="span1 money">VAT</th>
                    <th class="span2">Quantity</th>
                    <th class="span1 money">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.OrderLines.Count; i++)
                {
                    var line = Model.OrderLines[i];
                    <tr class="order-line" data-orderline="@line.OrderLineId">

                        @Html.HiddenFor(model => model.OrderLines[i].Sku)
                        @Html.HiddenFor(model => model.OrderLines[i].VariantSku)
                        @Html.HiddenFor(model => model.OrderLines[i].OrderLineId)

                        <td><a href="@line.ProductUrl">@line.ProductName</a></td>
                        <td class="money">
                            @if (@line.Discount.HasValue && @line.Discount > 0)
                        {
                            <span style="text-decoration: line-through" data-price>
                                    @line.Price
                            </span>
                            <span data-price-with-discount>
                                @line.PriceWithDiscount
                            </span>
                            }
                            else
                            {
                                <span data-price>
                                    @line.Price
                                </span>
                                
                            }
                        </td>
                        <td class="money" data-tax>
                            @line.Tax
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.OrderLines[i].Quantity, new { @class = "qty form-control no-padding", data_orderline_id = @Model.OrderLines[i].OrderLineId, data_orderline_qty = @Model.OrderLines[i].Quantity})
                        </td>
                        <td data-total>
                            @line.Total
                        </td>
                        <td>
                            <button type="submit" value="@line.OrderLineId" name="RemoveOrderlineId" class="line-remove">×</button>
                        </td>
                    </tr>
                }
                <tr>
                    <td rowspan="4"></td>
                    <td colspan="2" rowspan="4">
                        <button name="update-basket" id="update-basket" class="btn btn-secondary update-basket js-update-basket" data-refresh-url="@Model.RefreshUrl" data-basket="@Model" type="submit"><i class="icon-refresh icon-white"></i>Update</button>
                    </td>
                    <td>Sub total:</td>
                    <td class="money order-subtotal" data-order-subtotal>
                        @Model.SubTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>VAT:</td>
                    <td class="money order-tax" data-order-tax>
                        @Model.TaxTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Discounts:</td>
                    <td class="money order-discounts" data-order-discounts>
                        @Model.DiscountTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Order total:</td>
                    <td class="money order-total" data-order-total>
                        @Model.OrderTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    //}

    <div class="control-group margin-top">
        <div class="controls">
            <a href="/address"><button type="submit" class="btn btn-primary" name="review-product">Continue</button></a>
        </div>
    </div>
}
