
@model AvenueClothing.Feature.Catalog.Module.ViewModels.ProductViewModel
@{
    Layout = null;
}
<div class="product col-sm-4 col-md-4 col-xs-2" id="@Model.Sku">
	<div class="product-image">
		@if (!string.IsNullOrEmpty(Model.ThumbnailImageUrl))
		{
			<a href="@Model.Url"><img src="@Model.ThumbnailImageUrl"></a>
		}
	</div>

	<p class="item-name"><a href="@Model.Url">@Model.Name</a></p>
	<p class="item-price" data-productsku="@Model.Sku"></p>
	<p class="btn-group view-details">
		<a href="@Model.Url" class="btn btn-default">
			View more <span>
				<i class="fa fa-shopping-cart icon-white" aria-hidden="true"></i>
			</span>
		</a>
	</p>
</div>