@model AvenueClothing.Project.Catalog.ViewModels.ProductCardRenderingViewModel
@{
	Layout = null;
}

<div class="product col-sm-4 col-md-4 col-xs-2" id="@Model.ProductSku">
	<div class="product-image">
		@if (!string.IsNullOrEmpty(@Model.ThumbnailImage.ToString()))
		{
			<a href="@Model.Url">@Model.ThumbnailImage</a>
		}
	</div>

    <p class="item-name">
        <a href="@Model.Url">@Model.DisplayName</a>
    </p>
	
	<aside class="js-price-calculation @Model.ProductPriceRenderingViewModel.ProductId" data-price-calculation-url="@Model.ProductPriceRenderingViewModel.CalculatePriceUrl" data-variant-price-calculation-url="@Model.ProductPriceRenderingViewModel.CalculateVariantPriceUrl" data-product-sku="@Model.ProductPriceRenderingViewModel.Sku" data-product-id="@Model.ProductPriceRenderingViewModel.ProductId" data-category-guid="@Model.ProductPriceRenderingViewModel.CategoryGuid" data-catalog-guid="@Model.ProductPriceRenderingViewModel.CatalogGuid" itemprop="offers" itemscope itemtype="http://schema.org/Offer" data>
		<p class="item-price @Model.ProductPriceRenderingViewModel.ProductId" itemprop="price"></p>
		<p class="item-tax">
			<small class="tax">Inc. </small>
		</p>
	</aside>

	<p class="btn-group view-details">
		<a href="@Model.Url" class="btn btn-default">
			View more <span>
				<i class="fa fa-shopping-cart icon-white" aria-hidden="true"></i>
			</span>
		</a>
	</p>
</div>
