@using Sitecore.Data
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.WebControls.Presentation
@using Item = Sitecore.Data.Items.Item
@model AvenueClothing.Feature.Catalog.Module.ViewModels.ProductCardRenderingViewModel
@{
	Layout = null;
	Database database = Sitecore.Context.Database;
	Item productItem = database.GetItem(RenderingContext.Current.Rendering.Properties["productItem"]);
	RenderingContext.Current.ContextItem = productItem;
}

<div class="product col-sm-4 col-md-4 col-xs-2" id="@Model.ProductSku">
	<div class="product-image">
		@if (!string.IsNullOrEmpty(@Html.Sitecore().Field("Thumbnail image").ToString()))
		{
			<a href="@Model.Url">@Html.Sitecore().Field("Thumbnail image")</a>
		}
	</div>

    <p class="item-name">
        <a href="@Model.Url">@Model.DisplayName</a>
    </p>

	<p class="item-price">@Model.Amount</p>
	<p class="btn-group view-details">
		<a href="@Model.Url" class="btn btn-default">
			View more <span>
				<i class="fa fa-shopping-cart icon-white" aria-hidden="true"></i>
			</span>
		</a>
	</p>
</div>
